html{
    background-color: bisque;
    font-family: sans-serif;
}
button{
    color:#2c3e50;
    background-color: #cf7a0b;
    border-radius: 4px;
}
h1{
    font-size: 2.5em; 
    color: #2c3e50; 
    text-align: center; 
    margin: 20px 0; 
    font-family: 'Arial', sans-serif; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    padding: 10px; 
    border: 2px solid #df760d;
    border-radius: 8px; 
    background-color: #cf7a0b; 
}

.section {
    border: 2px solid #cf7a0b; 
    margin: 20px;
    padding: 15px; 
    border-radius: 8px;
}

h2{
    font-size: 1.5em; 
    color: #2c3e50; 
    text-align: center; 
    margin: 10px 0; 
    font-family: 'Arial', sans-serif; 
    text-transform: uppercase; 
    letter-spacing: 1px; 
    padding: 3px; 
    border: 2px solid #df760d; 
    border-radius: 8px; 
    background-color: #cf7a0b;
}
h3{
    color: #ab6407;
    text-decoration: underline;
}
table {
    margin: 0 auto; 
    border-collapse: collapse;
    width: 80%; 
    border-color: #ab6407;
}
